h3 {
    font-size: 25px !important;
}
.btn-success:hover {
    background-color: red;
    font-size: 30px;

}
canvas {
  animation-name:mradul ;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes mradul {
    from {box-shadow: 1px 1px 38px red;}
    to{box-shadow: 5px 5px 38px yellow;}
}